body > a{
    background-image: url("https://www.clipartmax.com/png/small/328-3289159_circle-clipart-chain-link-copy-link-icon-png.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

    font-size: 5em;
    padding-left: 100px;
}