body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    gap: 10px;
    padding: 10px;
}

section {
    width: 50%;
    padding: 10px;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #fff;
}